# DataFrames.jl 介紹 (二): Joins 與 Split-Apply-Combine Strategy

## Day 018 作業1：The Split-Apply-Combine Strategy

同 Day 017，請載入 2020/4/2 COVID-19 Daily Report 資料集，計算每個國家/地區的累計確診人數，並列出所有資料筆數。

In [12]:
using DataFrames, CSV

In [13]:
df = CSV.read("04-02-2020.csv")

2569×12 DataFrame. Omitted printing of 8 columns
│ Row  │ FIPS    │ Admin2     │ Province_State │ Country_Region       │
│      │ Int64⍰  │ String⍰    │ String⍰        │ String               │
├──────┼─────────┼────────────┼────────────────┼──────────────────────┤
│ 1    │ 45001   │ Abbeville  │ South Carolina │ US                   │
│ 2    │ 22001   │ Acadia     │ Louisiana      │ US                   │
│ 3    │ 51001   │ Accomack   │ Virginia       │ US                   │
│ 4    │ 16001   │ Ada        │ Idaho          │ US                   │
│ 5    │ 19001   │ Adair      │ Iowa           │ US                   │
│ 6    │ 29001   │ Adair      │ Missouri       │ US                   │
│ 7    │ 40001   │ Adair      │ Oklahoma       │ US                   │
│ 8    │ 8001    │ Adams      │ Colorado       │ US                   │
│ 9    │ 16003   │ Adams      │ Idaho          │ US                   │
│ 10   │ 17001   │ Adams      │ Illinois       │ US                   │
⋮
│ 2559 │ missing │ missing    │ missing        │ Ukraine              │
│ 2560 │ missing │ missing    │ missing        │ United Arab Emirates │
│ 2561 │ missing │ missing    │ missing        │ United Kingdom       │
│ 2562 │ missing │ missing    │ missing        │ Uruguay              │
│ 2563 │ missing │ missing    │ missing        │ Uzbekistan           │
│ 2564 │ missing │ missing    │ missing        │ Venezuela            │
│ 2565 │ missing │ missing    │ missing        │ Vietnam              │
│ 2566 │ missing │ missing    │ missing        │ West Bank and Gaza   │
│ 2567 │ missing │ missing    │ missing        │ Zambia               │
│ 2568 │ missing │ missing    │ missing        │ Zimbabwe             │
│ 2569 │ missing │ unassigned │ Wyoming        │ US                   │

計算計算每個國家/地區的累計確診人數

【提示】可使用 groupby 相關的函式

In [14]:
df2=by(df, :Country_Region, (:Confirmed => sum, :Confirmed => length))

181×3 DataFrame
│ Row │ Country_Region       │ Confirmed_sum │ Confirmed_length │
│     │ String               │ Int64         │ Int64            │
├─────┼──────────────────────┼───────────────┼──────────────────┤
│ 1   │ US                   │ 243453        │ 2312             │
│ 2   │ Canada               │ 11284         │ 15               │
│ 3   │ United Kingdom       │ 34173         │ 10               │
│ 4   │ China                │ 82432         │ 33               │
│ 5   │ Netherlands          │ 14788         │ 5                │
│ 6   │ Australia            │ 5116          │ 8                │
│ 7   │ Denmark              │ 3573          │ 3                │
│ 8   │ France               │ 59929         │ 10               │
│ 9   │ Afghanistan          │ 273           │ 1                │
│ 10  │ Albania              │ 277           │ 1                │
⋮
│ 171 │ Turkey               │ 18135         │ 1                │
│ 172 │ Uganda               │ 45            │ 1                │
│ 173 │ Ukraine              │ 897           │ 1                │
│ 174 │ United Arab Emirates │ 1024          │ 1                │
│ 175 │ Uruguay              │ 350           │ 1                │
│ 176 │ Uzbekistan           │ 205           │ 1                │
│ 177 │ Venezuela            │ 146           │ 1                │
│ 178 │ Vietnam              │ 233           │ 1                │
│ 179 │ West Bank and Gaza   │ 161           │ 1                │
│ 180 │ Zambia               │ 39            │ 1                │
│ 181 │ Zimbabwe             │ 9             │ 1                │

In [15]:
# 顯示所有資料
show(df2,allcols=true, allrows=true)

181×3 DataFrame
│ Row │ Country_Region                   │ Confirmed_sum │ Confirmed_length │
│     │ String                           │ Int64         │ Int64            │
├─────┼──────────────────────────────────┼───────────────┼──────────────────┤
│ 1   │ US                               │ 243453        │ 2312             │
│ 2   │ Canada                           │ 11284         │ 15               │
│ 3   │ United Kingdom                   │ 34173         │ 10               │
│ 4   │ China                            │ 82432         │ 33               │
│ 5   │ Netherlands                      │ 14788         │ 5                │
│ 6   │ Australia                        │ 5116          │ 8                │
│ 7   │ Denmark                          │ 3573          │ 3                │
│ 8   │ France                           │ 59929         │ 10               │
│ 9   │ Afghanistan                      │ 273           │ 1                │
│ 10  │ Albania                          │ 277           │ 1                │
│ 11  │ Algeria                          │ 986           │ 1                │
│ 12  │ Andorra                          │ 428           │ 1                │
│ 13  │ Angola                           │ 8             │ 1                │
│ 14  │ Antigua and Barbuda              │ 9             │ 1                │
│ 15  │ Argentina                        │ 1133          │ 1                │
│ 16  │ Armenia                          │ 663           │ 1                │
│ 17  │ Austria                          │ 11129         │ 1                │
│ 18  │ Azerbaijan                       │ 400           │ 1                │
│ 19  │ Bahamas                          │ 24            │ 1                │
│ 20  │ Bahrain                          │ 643           │ 1                │
│ 21  │ Bangladesh                       │ 56            │ 1                │
│ 22  │ Barbados                         │ 46            │ 1                │
│ 23  │ Belarus                          │ 304           │ 1                │
│ 24  │ Belgium                          │ 15348         │ 1                │
│ 25  │ Belize                           │ 3             │ 1                │
│ 26  │ Benin                            │ 13            │ 1                │
│ 27  │ Bhutan                           │ 5             │ 1                │
│ 28  │ Bolivia                          │ 123           │ 1                │
│ 29  │ Bosnia and Herzegovina           │ 533           │ 1                │
│ 30  │ Botswana                         │ 4             │ 1                │
│ 31  │ Brazil                           │ 8044          │ 1                │
│ 32  │ Brunei                           │ 133           │ 1                │
│ 33  │ Bulgaria                         │ 457           │ 1                │
│ 34  │ Burkina Faso                     │ 288           │ 1                │
│ 35  │ Burma                            │ 20            │ 1                │
│ 36  │ Burundi                          │ 3             │ 1                │
│ 37  │ Cabo Verde                       │ 6             │ 1                │
│ 38  │ Cambodia                         │ 110           │ 1                │
│ 39  │ Cameroon                         │ 306           │ 1                │
│ 40  │ Central African Republic         │ 3             │ 1                │
│ 41  │ Chad                             │ 8             │ 1                │
│ 42  │ Chile                            │ 3404          │ 1                │
│ 43  │ Colombia                         │ 1161          │ 1                │
│ 44  │ Congo (Brazzaville)              │ 22            │ 1                │
│ 45  │ Congo (Kinshasa)                 │ 134           │ 1                │
│ 46  │ Costa Rica                       │ 396           │ 1                │
│ 47  │ Cote d'Ivoire                    │ 194           │ 1                │
│ 48  │ Croatia                          │ 1011          │ 1                │
│ 49  │ Cuba                             │ 233           │ 1                │
│ 50  │ Cyprus                           │ 356           │ 1                │
│ 51  │ Czechia                          │ 3858          │ 1                │
│ 52  │ Diamond Princess                 │ 712           │ 1                │
│ 53  │ Djibouti                         │ 40            │ 1                │
│ 54  │ Dominica                         │ 12            │ 1                │
│ 55  │ Dominican Republic               │ 1380          │ 1                │
│ 56  │ Ecuador                          │ 3163          │ 1                │
│ 57  │ Egypt                            │ 865           │ 1                │
│ 58  │ El Salvador                      │ 41            │ 1                │
│ 59  │ Equatorial Guinea                │ 15            │ 1                │
│ 60  │ Eritrea                          │ 22            │ 1                │
│ 61  │ Estonia                          │ 858           │ 1                │
│ 62  │ Eswatini                         │ 9             │ 1                │
│ 63  │ Ethiopia                         │ 29            │ 1                │
│ 64  │ Fiji                             │ 7             │ 1                │
│ 65  │ Finland                          │ 1518          │ 1                │
│ 66  │ Gabon                            │ 21            │ 1                │
│ 67  │ Gambia                           │ 4             │ 1                │
│ 68  │ Georgia                          │ 134           │ 1                │
│ 69  │ Germany                          │ 84794         │ 1                │
│ 70  │ Ghana                            │ 204           │ 1                │
│ 71  │ Greece                           │ 1544          │ 1                │
│ 72  │ Grenada                          │ 10            │ 1                │
│ 73  │ Guatemala                        │ 47            │ 1                │
│ 74  │ Guinea                           │ 52            │ 1                │
│ 75  │ Guinea-Bissau                    │ 9             │ 1                │
│ 76  │ Guyana                           │ 19            │ 1                │
│ 77  │ Haiti                            │ 16            │ 1                │
│ 78  │ Holy See                         │ 7             │ 1                │
│ 79  │ Honduras                         │ 219           │ 1                │
│ 80  │ Hungary                          │ 585           │ 1                │
│ 81  │ Iceland                          │ 1319          │ 1                │
│ 82  │ India                            │ 2543          │ 1                │
│ 83  │ Indonesia                        │ 1790          │ 1                │
│ 84  │ Iran                             │ 50468         │ 1                │
│ 85  │ Iraq                             │ 772           │ 1                │
│ 86  │ Ireland                          │ 3849          │ 1                │
│ 87  │ Israel                           │ 6857          │ 1                │
│ 88  │ Italy                            │ 115242        │ 1                │
│ 89  │ Jamaica                          │ 47            │ 1                │
│ 90  │ Japan                            │ 2495          │ 1                │
│ 91  │ Jordan                           │ 299           │ 1                │
│ 92  │ Kazakhstan                       │ 435           │ 1                │
│ 93  │ Kenya                            │ 110           │ 1                │
│ 94  │ Korea, South                     │ 9976          │ 1                │
│ 95  │ Kosovo                           │ 125           │ 1                │
│ 96  │ Kuwait                           │ 342           │ 1                │
│ 97  │ Kyrgyzstan                       │ 116           │ 1                │
│ 98  │ Laos                             │ 10            │ 1                │
│ 99  │ Latvia                           │ 458           │ 1                │
│ 100 │ Lebanon                          │ 494           │ 1                │
│ 101 │ Liberia                          │ 6             │ 1                │
│ 102 │ Libya                            │ 11            │ 1                │
│ 103 │ Liechtenstein                    │ 75            │ 1                │
│ 104 │ Lithuania                        │ 649           │ 1                │
│ 105 │ Luxembourg                       │ 2487          │ 1                │
│ 106 │ MS Zaandam                       │ 9             │ 1                │
│ 107 │ Madagascar                       │ 59            │ 1                │
│ 108 │ Malawi                           │ 3             │ 1                │
│ 109 │ Malaysia                         │ 3116          │ 1                │
│ 110 │ Maldives                         │ 19            │ 1                │
│ 111 │ Mali                             │ 36            │ 1                │
│ 112 │ Malta                            │ 196           │ 1                │
│ 113 │ Mauritania                       │ 6             │ 1                │
│ 114 │ Mauritius                        │ 169           │ 1                │
│ 115 │ Mexico                           │ 1378          │ 1                │
│ 116 │ Moldova                          │ 505           │ 1                │
│ 117 │ Monaco                           │ 60            │ 1                │
│ 118 │ Mongolia                         │ 14            │ 1                │
│ 119 │ Montenegro                       │ 144           │ 1                │
│ 120 │ Morocco                          │ 708           │ 1                │
│ 121 │ Mozambique                       │ 10            │ 1                │
│ 122 │ Namibia                          │ 14            │ 1                │
│ 123 │ Nepal                            │ 6             │ 1                │
│ 124 │ New Zealand                      │ 797           │ 1                │
│ 125 │ Nicaragua                        │ 5             │ 1                │
│ 126 │ Niger                            │ 98            │ 1                │
│ 127 │ Nigeria                          │ 184           │ 1                │
│ 128 │ North Macedonia                  │ 384           │ 1                │
│ 129 │ Norway                           │ 5147          │ 1                │
│ 130 │ Oman                             │ 231           │ 1                │
│ 131 │ Pakistan                         │ 2421          │ 1                │
│ 132 │ Panama                           │ 1317          │ 1                │
│ 133 │ Papua New Guinea                 │ 1             │ 1                │
│ 134 │ Paraguay                         │ 77            │ 1                │
│ 135 │ Peru                             │ 1414          │ 1                │
│ 136 │ Philippines                      │ 2633          │ 1                │
│ 137 │ Poland                           │ 2946          │ 1                │
│ 138 │ Portugal                         │ 9034          │ 1                │
│ 139 │ Qatar                            │ 949           │ 1                │
│ 140 │ Romania                          │ 2738          │ 1                │
│ 141 │ Russia                           │ 3548          │ 1                │
│ 142 │ Rwanda                           │ 84            │ 1                │
│ 143 │ Saint Kitts and Nevis            │ 9             │ 1                │
│ 144 │ Saint Lucia                      │ 13            │ 1                │
│ 145 │ Saint Vincent and the Grenadines │ 2             │ 1                │
│ 146 │ San Marino                       │ 245           │ 1                │
│ 147 │ Saudi Arabia                     │ 1885          │ 1                │
│ 148 │ Senegal                          │ 195           │ 1                │

│ 149 │ Serbia                           │ 1171          │ 1                │
│ 150 │ Seychelles                       │ 10            │ 1                │
│ 151 │ Sierra Leone                     │ 2             │ 1                │
│ 152 │ Singapore                        │ 1049          │ 1                │
│ 153 │ Slovakia                         │ 426           │ 1                │
│ 154 │ Slovenia                         │ 897           │ 1                │
│ 155 │ Somalia                          │ 5             │ 1                │
│ 156 │ South Africa                     │ 1462          │ 1                │
│ 157 │ Spain                            │ 112065        │ 1                │
│ 158 │ Sri Lanka                        │ 151           │ 1                │
│ 159 │ Sudan                            │ 8             │ 1                │
│ 160 │ Suriname                         │ 10            │ 1                │
│ 161 │ Sweden                           │ 5568          │ 1                │
│ 162 │ Switzerland                      │ 18827         │ 1                │
│ 163 │ Syria                            │ 16            │ 1                │
│ 164 │ Taiwan*                          │ 339           │ 1                │
│ 165 │ Tanzania                         │ 20            │ 1                │
│ 166 │ Thailand                         │ 1875          │ 1                │
│ 167 │ Timor-Leste                      │ 1             │ 1                │
│ 168 │ Togo                             │ 39            │ 1                │
│ 169 │ Trinidad and Tobago              │ 94            │ 1                │
│ 170 │ Tunisia                          │ 455           │ 1                │
│ 171 │ Turkey                           │ 18135         │ 1                │
│ 172 │ Uganda                           │ 45            │ 1                │
│ 173 │ Ukraine                          │ 897           │ 1                │
│ 174 │ United Arab Emirates             │ 1024          │ 1                │
│ 175 │ Uruguay                          │ 350           │ 1                │
│ 176 │ Uzbekistan                       │ 205           │ 1                │
│ 177 │ Venezuela                        │ 146           │ 1                │
│ 178 │ Vietnam                          │ 233           │ 1                │
│ 179 │ West Bank and Gaza               │ 161           │ 1                │
│ 180 │ Zambia                           │ 39            │ 1                │
│ 181 │ Zimbabwe                         │ 9             │ 1                │

## 作業2：請列出美國各區域或事件 (依 Province_State 欄) 的累積確診、死亡、康復人數。

【提示】使用 Split-Apply-Combine Strategy 時，有幾種不同的函式可以使用，請參照 `DataFrames.jl` 官方文件 [https://juliadata.github.io/DataFrames.jl/stable/lib/functions/#DataFrames.groupby](https://juliadata.github.io/DataFrames.jl/stable/lib/functions/#DataFrames.groupby)

In [16]:
df3 = groupby(df[df.Country_Region .== "US", :], :Province_State)

GroupedDataFrame with 58 groups based on key: Province_State
First Group (46 rows): Province_State = "South Carolina". Omitted printing of 8 columns
│ Row │ FIPS   │ Admin2       │ Province_State │ Country_Region │
│     │ Int64⍰ │ String⍰      │ String⍰        │ String         │
├─────┼────────┼──────────────┼────────────────┼────────────────┤
│ 1   │ 45001  │ Abbeville    │ South Carolina │ US             │
│ 2   │ 45003  │ Aiken        │ South Carolina │ US             │
│ 3   │ 45005  │ Allendale    │ South Carolina │ US             │
│ 4   │ 45007  │ Anderson     │ South Carolina │ US             │
│ 5   │ 45009  │ Bamberg      │ South Carolina │ US             │
│ 6   │ 45011  │ Barnwell     │ South Carolina │ US             │
│ 7   │ 45013  │ Beaufort     │ South Carolina │ US             │
│ 8   │ 45015  │ Berkeley     │ South Carolina │ US             │
│ 9   │ 45017  │ Calhoun      │ South Carolina │ US             │
│ 10  │ 45019  │ Charleston   │ South Carolina │ US             │
⋮
│ 36  │ 45071  │ Newberry     │ South Carolina │ US             │
│ 37  │ 45073  │ Oconee       │ South Carolina │ US             │
│ 38  │ 45075  │ Orangeburg   │ South Carolina │ US             │
│ 39  │ 45077  │ Pickens      │ South Carolina │ US             │
│ 40  │ 45079  │ Richland     │ South Carolina │ US             │
│ 41  │ 45081  │ Saluda       │ South Carolina │ US             │
│ 42  │ 45083  │ Spartanburg  │ South Carolina │ US             │
│ 43  │ 45085  │ Sumter       │ South Carolina │ US             │
│ 44  │ 45087  │ Union        │ South Carolina │ US             │
│ 45  │ 45089  │ Williamsburg │ South Carolina │ US             │
│ 46  │ 45091  │ York         │ South Carolina │ US             │
⋮
Last Group (1 row): Province_State = "Virgin Islands". Omitted printing of 8 columns
│ Row │ FIPS   │ Admin2  │ Province_State │ Country_Region │
│     │ Int64⍰ │ String⍰ │ String⍰        │ String         │
├─────┼────────┼─────────┼────────────────┼────────────────┤
│ 1   │ 78     │ missing │ Virgin Islands │ US             │

In [18]:
show(combine(df3, :Confirmed => sum, :Deaths => sum, :Recovered => sum), allrows=true)

58×4 DataFrame
│ Row │ Province_State           │ Confirmed_sum │ Deaths_sum │ Recovered_sum │
│     │ Union{Missing, String}   │ Int64         │ Int64      │ Int64         │
├─────┼──────────────────────────┼───────────────┼────────────┼───────────────┤
│ 1   │ South Carolina           │ 1554          │ 31         │ 0             │
│ 2   │ Louisiana                │ 9159          │ 310        │ 0             │
│ 3   │ Virginia                 │ 1706          │ 41         │ 0             │
│ 4   │ Idaho                    │ 776           │ 9          │ 0             │
│ 5   │ Iowa                     │ 614           │ 11         │ 0             │
│ 6   │ Missouri                 │ 1857          │ 22         │ 0             │
│ 7   │ Oklahoma                 │ 881           │ 34         │ 0             │
│ 8   │ Colorado                 │ 3342          │ 80         │ 0             │
│ 9   │ Illinois                 │ 7695          │ 163        │ 0             │
│ 10  │ Indiana                  │ 3038          │ 78         │ 0             │
│ 11  │ Mississippi              │ 1177          │ 26         │ 0             │
│ 12  │ Nebraska                 │ 246           │ 5          │ 0             │
│ 13  │ Pennsylvania             │ 7268          │ 90         │ 0             │
│ 14  │ Washington               │ 6389          │ 271        │ 0             │
│ 15  │ Wisconsin                │ 1748          │ 38         │ 0             │
│ 16  │ Vermont                  │ 338           │ 17         │ 0             │
│ 17  │ Florida                  │ 9008          │ 164        │ 0             │
│ 18  │ North Carolina           │ 1977          │ 21         │ 0             │
│ 19  │ California               │ 10773         │ 238        │ 0             │
│ 20  │ New York                 │ 92506         │ 2373       │ 0             │
│ 21  │ Wyoming                  │ 150           │ 0          │ 0             │
│ 22  │ Michigan                 │ 10791         │ 417        │ 0             │
│ 23  │ Maryland                 │ 2331          │ 36         │ 0             │
│ 24  │ Kentucky                 │ 770           │ 31         │ 0             │
│ 25  │ Ohio                     │ 2901          │ 81         │ 0             │
│ 26  │ Alaska                   │ 143           │ 3          │ 0             │
│ 27  │ Kansas                   │ 553           │ 12         │ 0             │
│ 28  │ Tennessee                │ 2845          │ 36         │ 0             │
│ 29  │ Texas                    │ 5069          │ 77         │ 0             │
│ 30  │ Maine                    │ 376           │ 7          │ 0             │
│ 31  │ Minnesota                │ 742           │ 18         │ 0             │
│ 32  │ Arizona                  │ 1715          │ 32         │ 0             │
│ 33  │ Georgia                  │ 5348          │ 163        │ 0             │
│ 34  │ Arkansas                 │ 643           │ 12         │ 0             │
│ 35  │ New Jersey               │ 25590         │ 537        │ 0             │
│ 36  │ South Dakota             │ 165           │ 2          │ 0             │
│ 37  │ Alabama                  │ 1233          │ 32         │ 0             │
│ 38  │ West Virginia            │ 216           │ 2          │ 0             │
│ 39  │ North Dakota             │ 159           │ 3          │ 0             │
│ 40  │ Massachusetts            │ 8966          │ 154        │ 0             │
│ 41  │ New Hampshire            │ 316           │ 3          │ 0             │
│ 42  │ Oregon                   │ 826           │ 21         │ 0             │
│ 43  │ New Mexico               │ 388           │ 6          │ 0             │
│ 44  │ Utah                     │ 1092          │ 7          │ 0             │
│ 45  │ Rhode Island             │ 657           │ 12         │ 0             │
│ 46  │ Montana                  │ 241           │ 6          │ 0             │
│ 47  │ Nevada                   │ 1463          │ 38         │ 0             │
│ 48  │ District of Columbia     │ 653           │ 12         │ 0             │
│ 49  │ Connecticut              │ 3824          │ 112        │ 0             │
│ 50  │ Hawaii                   │ 256           │ 1          │ 0             │
│ 51  │ Delaware                 │ 393           │ 12         │ 0             │
│ 52  │ Diamond Princess         │ 49            │ 0          │ 0             │
│ 53  │ Grand Princess           │ 103           │ 3          │ 0             │
│ 54  │ Guam                     │ 82            │ 3          │ 0             │
│ 55  │ Northern Mariana Islands │ 6             │ 1          │ 0             │
│ 56  │ Puerto Rico              │ 316           │ 12         │ 0             │
│ 57  │ Recovered                │ 0             │ 0          │ 9001          │
│ 58  │ Virgin Islands           │ 30            │ 0          │ 0             │